.answer--button{
    border-radius: 15px;
    width: auto;
    height: 35px;
    border:transparent;
    margin: 10px;
}

.not-check{
    border: 1px solid #4D5B9E;
    background-color: transparent;
}

.not-check:hover{
    background-color: #8493df;
}

.not-check-selected{
    background-color: #8493df;
}


.checked-not-selected{
    opacity: 0.5;
}

.checked-selected-wrong{
    background-color: #F8BCBC;
}

.checked-correct{
    background-color: #94D7A2;
}